# IDE - IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Maven
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar

# Gatling
**/results/
**/simulation.log
**/logback.xml

# Prometheus & Monitoring
orangehrm-monitoring/data/
orangehrm-monitoring/logs/
orangehrm-monitoring/docker-compose.yml
orangehrm-monitoring/prometheus.yml

# OS
.DS_Store
Thumbs.db
*.tmp
*.temp
*~

# Logs
*.log

# Compiled files
*.class

# Données Docker (à ajouter au .gitignore existant)
data/
docker-data/
brouillon

# Docker Compose (en développement)
docker-compose.orangehrm-mysql.yml

# autres
old/

# Test data (décommenter si tu ne veux pas versionner les gros CSV)
# **/*.csv
/Capture d'écran 2025-07-28 090326.png
/Capture d'écran 2025-07-28 090343.png
/résultats des tests capture d'écran docker/

*.config_docker-orangehrm.txt
